#conteudo
{
    background-image: url("../imagensTemplate/cadastro_fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 915px;
    height: 915px;
}



#basic
{
   background-color: fff;
   opacity: 0.90;
}

.ui-panel-title
{
    font-size: 15pt;
}

.labelFields
{
    font-size: 15pt;
}

.ui-inputfield 
{
    font-size:15pt;
}

#img_logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;     
    height: 85px;
    padding-left: 430px;
    padding-right: 100px;

}

.flag
{
    width: 80px;
    height: 50px;
    padding: 5px;
}

.flag:first-of-type
{
    padding-left: 20px;
}